<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	

	<settings>
		<!-- 指定 MyBatis 所用日志的具体实现，未指定时将自动查找。 -->
		<setting name="logImpl" value="LOG4J2" />
		<!-- 延迟加载的全局开关。 -->
		<setting name="lazyLoadingEnabled" value="true"></setting>
		<!-- 属性按需加载 -->
		<setting name="aggressiveLazyLoading" value="false"></setting>
		<!-- 开启二级缓存，默认是false -->
		<setting name="cacheEnabled" value="true"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="xyz.yuelai.blog.entity.User" alias="User" />
		<typeAlias type="xyz.yuelai.blog.entity.Article" alias="Article" />
		<typeAlias type="xyz.yuelai.blog.entity.Comment" alias="Comment" />
	</typeAliases>
	
	<plugins>
		<!-- 分页插件 -->
		<plugin interceptor="com.github.pagehelper.PageInterceptor">
			<!-- 当当前页大于 总页数的时候默认最后一页的数据 -->
			<property name="reasonable" value="true"/>
		</plugin>	
	</plugins>
	
</configuration>